body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Comic Neue", cursive;
  background-color: #e7d4a9;
}

.tv {
  margin: 100px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.tv-frame {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #39443c;
  width: 700px;
  height: 450px;
  margin: 0 auto;
  display: flex;
}

.tv-screen {
  background-color: #b7d7e7;
  width: 660px;
  height: 420px;
  display: flex;
  flex-direction: column;
}

.tv-stand {
  background-color: #39443c;
  width: 200px;
  height: 100px;
  box-shadow: 3px 7px 10px 0px inset #101815;
  z-index: 4;
  border-bottom: 3px solid black;
}

.tv-leg {
  position: relative;
  bottom: 40px;
  width: 500px;
  height: 60px;
  background-color: #344445;
  border-bottom: 12px solid #0c110d;
  box-shadow:
    5px 0px 0px 0px #0c110d,
    -5px 0px 0px 0px #0c110e;
  z-index: 3;
}

.cabinet {
  position: relative;
  bottom: 310px;
  margin: 0;
  z-index: 1;
  transform: rotateX(68deg);
  display: none;
}

.cabinet-top {
  background: #d3ab6b;
  width: 515px;
  height: 280px;
  border-bottom: 2px solid #32200b;
  border-left: 1px solid #32200b;
  border-right: 1px solid #32200b;
  border-top: 1px solid #32200b;
}

.cabinet-corner {
  background: #d3ab6b;
  width: 515px;
  height: 25px;
  border-bottom: 2px solid #32200b;
  border-left: 1px solid #32200b;
  border-right: 1px solid #32200b;
}

.cabinet-doors {
  display: flex;
  justify-content: center;
  flex-direction: row;
  border-bottom: 5px solid #32200b;
}

.cabinet-door {
  background: #d3ab6b;
  width: 250px;
  height: 250px;
}

.left-door {
  border-right: 1px solid #32200b;
  border-left: 1px solid #32200b;
}

.right-door {
  border-right: 1px solid #32200b;
}

.button-container {
  display: flex;
  justify-content: space-around;
}

.button {
  background: #000;
  color: #fff;
  padding: 10px 15px;
  border: none;
  font-size: 16px;

}